@model LinqAssignmentCore.Models.Db.Car

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Car model Name
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Year
        </dt>

        <dd>
            @Model.Year
        </dd>

        <dt>
            Manufacturer
        </dt>

        <dd>
            @Model.Manufacturer
        </dd>

        <dt>
            Displacement
        </dt>

        <dd>
            @Model.Displacement
        </dd>

        <dt>
            No of cylinders
        </dt>

        <dd>
            @Model.Cylinders
        </dd>

        <dt>
            City Efficiency
        </dt>

        <dd>
            @Model.City
        </dd>

        <dt>
            Highway Efficiency
        </dt>

        <dd>
            @Model.Highway
        </dd>

        <dt>
            Combined Efficiency
        </dt>

        <dd>
            @Model.Combined
        </dd>

    </dl>
</div>
