@model IEnumerable<LinqAssignmentCore.Models.ViewModels.JointTablesVM>

@{
    ViewBag.Title = "JoinTablesQ";
}

<h2>JoinTablesQ</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeadQuarters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combined)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Manufacturer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HeadQuarters)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ModelName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Combined)
    </td>

</tr>
}

</table>
