@model LinqAssignmentCore.Models.Db.Car

@{
    ViewBag.Title = "WhereAndFirstQ";
}

<h2>Where And First - Query Syntax</h2>
<h2>Most efficient @Model.Manufacturer @Model.Year</h2>

<partial name="_WhereAndFirstPartial" model="Model"></partial>

@*<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Displacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Displacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cylinders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cylinders)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Highway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Highway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combined)
        </dd>

    </dl>
</div>*@

